@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "@heroui/styles"; 

@theme {
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-google: "Google Sans", sans-serif;
}

* {
  @apply font-jakarta;
}
